.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: black;
  font-size: 25px;
  color: white;
}

.ball:hover {
  cursor: pointer;
  opacity: 0.8;
}

button {
  height: 40px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  font-size: 14px;
}

button:hover {
  background-color: #c0c0c0;
}
